.ScholarshipContent {
    flex: 9;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }